@import "tailwindcss";

@theme {
  --color-primary: #D1225B;
  --color-primary-light: #F25C27;
  --color-primary-dark: #66104A;

  --color-secondary: #F25C27;
  --color-secondary-light: #FDB62B;
  --color-secondary-dark: #c03a16;

  --color-border: #e5e7eb;
  --color-muted: #6b7280;
}

 /* Global scrollbar hiding for a clean UI */
  * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
